<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">OUR SERVICES</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                    <h3>Investor Activation</h3>
                    <p class="text-muted">Our interactive investor page increases investor participation & sign-up by 80.2%.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Investor Marketing</h3>
                    <p class="text-muted">Work with our team of experts to drive investors to your name.investorpitch.me page.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Investor Engagement</h3>
                    <p class="text-muted">Get the conversation started. If no one is speaking to you, no one is listening either.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>InvestorAI</h3>
                    <p class="text-muted">The most indepth share analysis tool in the market. Know exactly what's happening in your market!</p>
                </div>
            </div>
        </div>
    </div>
</section>
